body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    height: 300px;
    width: 900px;
    display: flex;    
    flex-wrap: wrap;
    
}

div {
   
    background-color: lightblue;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}