main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: 0;
    background-color: lightblue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}