body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    height: 300px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

div {
    margin: 0;
    
    background-color: lightblue;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}
.green {
    background-color: lightgreen;
}