.nav {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  gap: 0.5em;
}

.link {
  &:hover {
    cursor: pointer;
  }
}

.active_link {
  text-decoration: underline;
  color: orange;
  &:hover {
    color: green;
  }
}
